<h1>Filters</h1>
<table class="table">
  <thead>
    <tr>
      <th><strong>Filter by</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>        
      <td><%= link_to 'Assigne', '?filter=assigne' %></td>
    </tr>
    <tr>        
      <td><%= link_to 'Time of creation', '?filter=time' %></td>
    </tr>
    <tr>        
      <td><%= link_to 'Status', '?filter=status' %></td>
    </tr>
  </tbody>
</table>