<h1>Editing Task</h1>

<% if current_user.admin? and @task.assignee != current_user.username %>
    <%= render 'form', task: @task %>
<% else %>
    <%= render 'user_task_update_form', task: @task %>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
